.login-container {
  line-height: 36px;
  font-size: 18px;
  width: auto;
  max-width: 600px;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.login-container img.login-img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 25px;
  vertical-align: middle;
  /* margin: 0px 25px 0px 150px; */
}

.main-container {
  font-family: 18px Lato "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-container .login-content {
  float: left;
  max-width: 360px;
  padding-left: 105px;
}

.login-container .login-content h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  line-height: 20px;
  color: #623de9;
}

.login-email-label {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 140%;
  margin: 16px 0 5px;
}

.main-container .login-container .login-content input {
  height: 25px;
  width: 95%;
  border: 1px solid #cccccc;
  padding: 2px;
  margin-bottom: 17;
}

.login-container button {
  margin-top: 20px;
  background-color: #623de9;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  width: auto;
  text-shadow: 0 -1px 0 #3c82d8;
  border-color: #000202;
  box-shadow: 0 2px 0 0 rgba(112, 54, 227, 0.751);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

*:before, *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.header-check {
  background-color: #623de9;
  margin: 0px auto;
}

.header-check img {
  height: 24px;
  padding: 12px 10px;
}

.loginLink {
  right: 10px;
  top: 10px;
  position: absolute;
}
