.signup-header {
    height: 49px;
  }
  .signup-container {
    line-height: 36px;
    font-size: 18px;
    width: auto;
    max-width: 600px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .rounded-input {
    padding:10px;
    border-radius:10px;
  }
  .signup-container img.signup-img {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 25px;
    vertical-align: middle;
    /* margin: 0px 25px 0px 150px; */
  }
  
  .container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .signup-container .signup-content {
    float: left;
    max-width: 360px;
    padding-left: 15px;
  }
  .signup-container .signup-content h2 {
    text-transform: uppercase;
    font-size: 16px;
    
    color: #336ee5;
    font-weight: bold;
    line-height: 20px;
  }
  
  .signup-name-label {
    font-size: 24px;
    line-height: 140%;
    margin: 16px 0 5px;
  }
  .signup-container .signup-content input {
    height: 42px;
    width: 95%;
    border: 1px solid #cccccc;
    padding: 4px;
  
    margin-bottom: 17;
  }
  .signup-container .signup-content .signup-email-passwd input {
    height: 40px;
    width: 95%;
    border: 1px solid #cccccc;
    padding: 2px;
  
    margin-bottom: 17;
  }
  .signup-container .signup-btn {
    margin-top: 20px;
    background-color: #623de9;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    width: auto;
    text-shadow: 0 -1px 0 #c83400;
    border-color: #623de9;
    box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
    box-sizing: content-box;
  }
  * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  